<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update avto</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/manager/{id}(id=${currency.getId()})}" th:object="${currency}">
    <p th:text="currency.getName()"></p>
    <label for="value">Enter value: </label>
    <input type="text" th:field="*{value}" id="value"/>
    <div style="color:red" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Name Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>